# Estudando Pandas

In [1]:
#Importação do pandas
import pandas as pd

## Importar csv direto do Google Drive - Para usar no Google Collab

In [2]:
# Instale o PyDrive
!pip install -U -q PyDrive

In [ ]:
# Faça o import das bibliotecas de autenticação e permissão do Google
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive 
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
# Faça a autenticação com sua conta do Google e crie o PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
# Pegue o link do dataset CSV que vc deseja usar 
link = 'https://drive.google.com/open?id=1JNOjcLoA7rMUHdRT8KsMVky1aW_gok1M'

In [ ]:
# Vamos  usar somente o ID, então separe o que tiver antes do símbolo =
fluff, id = link.split('=')
print(id)

In [ ]:
# Carregando o dataset para um DataFrame Pandas
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('kc_house_data.csv')
data = pd.read_csv('kc_house_data.csv')

## Fazer leitura do csv da pasta local

In [3]:
# Leitura de um arquivo .csv (sep = separador dos dados; header =  informar em qual linha está o cabeçalho do arquivo- header=None => pandas gera um número como header)
file = '../Datasets/kc_house_data.csv' #Declarando o caminho do arquivo a ser usado nos testes
data = pd.read_csv(file, sep=',', header=0)
type(data) #Criou um objeto do tipo DataFrame

pandas.core.frame.DataFrame

In [4]:
# Imprime as 5 primeiras linhas do dataset
data.head()
#Imprime as 100 primeiras linhas
# data.head(100)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
# Imprime as 5 últimas linhas do dataset
data.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21608,263000018,20140521T000000,360000.0,3.0,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4.0,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2.0,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3.0,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2.0,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
# Imprime uma amostra aleatória do dataset
data.sample(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4974,280610020,20140902T000000,825000.0,4.0,3.25,4110,14219,2.0,0,2,...,10,2570,1540,1979,0,98028,47.7382,-122.264,2760,12283
14759,422049203,20141024T000000,239000.0,3.0,1.50,1330,6540,1.0,0,0,...,7,900,430,1971,0,98188,47.4239,-122.292,1400,11500
4192,4083304535,20141114T000000,1045000.0,4.0,2.75,2950,4560,2.0,0,0,...,7,1810,1140,1912,0,98103,47.6525,-122.333,2000,4560
18710,7205510230,20150306T000000,280000.0,3.0,2.25,1700,7210,1.0,0,0,...,7,1250,450,1974,0,98003,47.3546,-122.318,2070,7300
2503,1781500435,20150225T000000,575000.0,3.0,1.75,1580,7344,1.0,0,0,...,7,1580,0,1911,0,98126,47.5256,-122.380,1580,6207

In [7]:
# Imprime o formato do dataset (linhas e colunas)
data.shape

(21613, 21)

In [8]:
# Imprime o nome das colunas do dataset
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [9]:
# Imprime a quantidade de linhas para cada coluna
data.count()

id               21613
date             21613
price            21613
bedrooms         21609
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21612
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

In [10]:
# Exibe informações estatísticas da base de dados (desvio padrão, média, valor mínimo, valor máximo)
data.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21609.000000,21613.000000,21613.000000,2.161300e+04,21612.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370910,2.114757,2079.899736,1.510697e+04,1.494332,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930084,0.770163,918.440897,4.142051e+04,0.539991,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [11]:
# Exibe informações sobre as colunas e uso de memória
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21609 non-null float64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21612 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

In [12]:
# Criar dataframe com colunas indexadas (para organizar dados por data por exemplo)
data = pd.read_csv(file, sep=',', index_col='date')

In [14]:
data.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
date,,,,,,,,,,,,,,,,,,,,
20141013T000000,7129300520,221900.0,3.0,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
20141209T000000,6414100192,538000.0,3.0,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
20150225T000000,5631500400,180000.0,2.0,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
20141209T000000,2487200875,604000.0,4.0,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
20150218T000000,1954400510,510000.0,3.0,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [16]:
# Selecionar e usar somente algumas informações do arquivo
data =  pd.read_csv(file, sep=',', usecols=['id','date','price','bedrooms'])

In [18]:
data.head()

           id             date     price  bedrooms
0  7129300520  20141013T000000  221900.0       3.0
1  6414100192  20141209T000000  538000.0       3.0
2  5631500400  20150225T000000  180000.0       2.0
3  2487200875  20141209T000000  604000.0       4.0
4  1954400510  20150218T000000  510000.0       3.0

## Trabalhando com Arquivos Grandes

* Quando estamos trabalhando com _**Grandes Arquivos**_ temos um grande desafio que é gerenciar a memória,
* As vezes precisamos manipular uma base de dados muito grande e por isso precisamos trabalhar com arquivos de forma diferente.
* Uma forma é ler esses arquivos de forma limitada para não consumir toda a _**memória**_ do servidor.

In [ ]:
# Leitura das 5 primeiras linhas de um arquivo
dataset = pd.read_csv(file, sep=',', nrows=5)
dataset

In [ ]:
# Carregando o dataset para um DataFrame Pandas do Google Drive
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('kc_house_data.csv')
data = pd.read_csv('kc_house_data.csv', sep=',',nrows=5)

In [ ]:
data

In [ ]:
# Separar os dados em blocos (chunk) para leitura (lê o arquivo em partes e libera espaço após ler cada bloco)
chunk = pd.read_csv(file, chunksize=10000)
#type(chunk)

In [ ]:
# Carregando o dataset para um DataFrame Pandas do Google Drive em blocos (chunk) para leitura (lê o arquivo em partes e libera espaço após ler cada bloco)
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('kc_house_data.csv')
chunk = pd.read_csv('kc_house_data.csv', chunksize=10000)

In [ ]:
#Imprimir o tamanho de cada bloco (chunk) gerado para o arquivo
qt = 1
for parte in chunk:
    print("Parte {}: {}".format(qt,len(parte)))
    qt += 1

In [ ]:
# Iterar em cada parte do arquivo e adicionar o valor processado a uma nova coluna do dataset já existente
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('kc_house_data.csv')
chunk = pd.read_csv('kc_house_data.csv', chunksize=10000)

lista = []
  
for parte in chunk:
    lista.append(parte['bedrooms'] * 2)
    
data['bedrooms_size'] = pd.concat(lista)

In [ ]:
# Iterar em cada parte do arquivo e adicionar o valor processado a uma nova coluna do dataset já existente
lista = []
  
for parte in chunk:
    lista.append(parte['bedrooms'] * 2)

data['bedrooms_size'] = pd.concat(lista)

In [ ]:
data.head()

## Consultar e alterar um DataFrame

* Consultas em DataFrames se _**assemelham**_ a linhagem SQL.
* Existem métodos interessantes para fazer consultas usando operadores lógicos _**(>,<,== )**_.
* Além disso podemos fazer consultas usando instruções de agrupamento, por exemplo.

In [ ]:
# Quantificar valores únicos
pd.value_counts(data['bedrooms']) # Ex: 9822 imóveis com 3 quartos

In [ ]:
# Pesquisar por padrões no dataset usando o método loc
data.loc[data['bedrooms'] == 3] #buscar registros de imóveis com 3 quartos

In [ ]:
# Filtrando casas com mais de 3 quartos
data[data['bedrooms'] == 3]

In [ ]:
# Usando o loc com uma condição composta 
data.loc[(data['bedrooms'] == 3) & (data['bathrooms'] > 2)] #buscar registros de imóveis com 3 quartos e mais de 2 banheiros

In [ ]:
# Ordenar o retorno de uma consulta por um ou mais campos específicos (Ordena somente a coluna, não o dataset definitivamente)
data.sort_values(by='price', ascending=False) #Mais caro vem primeiro (Decrescente)

In [ ]:
# Contar o número de linhas de uma consulta
data[data['bedrooms']==4].count()

## Alterando o dataset

In [ ]:
# Adicionar nova coluna ao DataFrame
data['size'] = (data['bedrooms'] * 20)
# Visualizar conteúdo da coluna criada
data['size'].head()

In [ ]:
# Função para processamento de dados
def categoriza(s):
    if s >= 80:
        return 'Big'
    elif s >= 60:
        return 'Medium'
    elif s >= 40:
        return 'Small'

In [ ]:
# Criando uma nova coluna a partir do processamento realizado
data['cat_size'] = data['size'].apply(categoriza) #Aplica o método e categoriza o valor, substituindo-o pela string
# Visualizando a nova coluna criada.
data['cat_size'].head()

In [ ]:
# Ver a distribuição da coluna com o método value_counts
pd.value_counts(data['cat_size']) # Mostra quantos registros há por categoria (Small, Medium e Big)

In [ ]:
# Excluir dados no DataFrame
# A opção axis=1 define que queremos excluir uma coluna e não uma linha (axis = 0).
# O parâmetro inplace define que a alteração irá modificar o objeto em memória.
data.drop(['cat_size'], axis=1, inplace=True) # Apaga a coluna cat_size no objeto original
# Visualizar dataset após apagar
data.head()

In [ ]:
# Apagando a coluna 'size'
data.drop(['size'], axis=1, inplace=True)
data.head()

**Apagando linhas baseado em condições lógicas!**

In [ ]:
# Dropa linhas com bedrooms == 0
data.drop(data[data.bedrooms==0].index,inplace=True) 
data

In [ ]:
# Dropa linhas com nº de bedrooms maiores que 30
data.drop(data[data.bedrooms>30].index ,inplace=True)
data

# Valores Faltantes (Missing Values)

* **Missing Values** são valores faltantes em colunas, esses podem ser oriundos de falhas em cargas de dados, falhas em crawlers ou até mesmo corrupção de dados.

* Missing Values podem ser um problema em várias situações, como por exemplo, algoritmos de machine learning que não trabalham bem com dados faltantes.

* Estes também podem atrapalhar resultados de análises.

* Vamos aprender como encontrar missing values na base de dados e como manipular esses valores.

In [ ]:
dataset = pd.read_csv(file, sep=',', header=0)

In [ ]:
dataset = data

In [ ]:
# Consultar linhas com valor vazio
dataset.isnull().sum()

In [ ]:
#Remover todas as linhas onde tenha pela menos um registro faltante em algum atributo. Se um atributo for nulo, apaga
dataset.dropna(inplace=True)

In [ ]:
#Remover somente linhas que estejam com valores faltantes em todas as colunas
dataset.dropna(how='all', inplace=True)

In [ ]:
#preencher os valores nulos da coluna floors com a media de todos os valores contidos na coluna floors
dataset['floors'].fillna(dataset['floors'].mean(), inplace=True)

In [ ]:
#preenche com 1 os values null da coluna bedrooms
dataset['bedrooms'].fillna(1, inplace=True)

## Estatística Descritiva

In [ ]:
# Imprime o valor médio da coluna bedrooms
dataset['bedrooms'].mean()

In [ ]:
# Imprime o valor máximo da coluna bedrooms
dataset['bedrooms'].max()

In [ ]:
# Imprime o valor mínimo da coluna bedrooms
dataset['bedrooms'].min()

In [ ]:
# Imprime o desvio padrão da coluna bedrooms
dataset['bedrooms'].std()

In [ ]:
#Esse método retorna o valor de simetria de cada coluna do dataset.
# Um valor zero indica uma distribuição simétrica
# Um valor maior que zero ou menor indica uma distribuição assimétrica.
# Valores acima de zero podemos dizer que existe uma assimetria positiva 
# Valores abaixo de zero uma assimetria negativa.
# Isso quer dizer que valores muito acima de zero indicam que existem mais valores acima da média
# valores abaixo de zero significa que contém mais valores abaixo da média.

print('Simetria: {}'.format(dataset['bedrooms'].skew())) # a maioria dos imóveis possui a quantidade de quartos acima da média (mais que 3 quartos) 

media = dataset['bedrooms'].mean()
print('Média: {}'.format(media))

print('Qtd de registros acima da média: {}'.format((dataset.filter(like='bedrooms').sum(axis=1) >= media).sum())) # Contabilização da quantidade de registros com o valor maior/igual a média


pd.value_counts(dataset['bedrooms']) # Mostra a distribuição por nº de quartos

In [ ]:
# Verificar a assimetria ou simetria de todo o dataset ( verificar se a base está bem balanceada -  dados muito abaixo ou muito acima das médias)
dataset.skew()

# **Extraindo Insights**

* Utilizando os gráficos do tipo Boxplot, que são excelentes ferramentas de análise de dados, principalmente para identificar _**outliers**_.

In [ ]:
# Importando a biblioteca Matplotlib
import matplotlib

In [ ]:
# Plota gráfico do tipo Boxplot da coluna bedrooms
# Esse gráfico é muito rico e é possível visualizar Outliers - Em estatística, outlier, valor aberrante ou valor atípico, é uma observação que apresenta um grande afastamento das demais da série (que está "fora" dela), ou que é inconsistente. 
# Outlier é constituído pelos valores: Q1 ( quartil1 - valor médio de 25% dos dados - borda inferior do retângulo)
# Q2 (quartil 2 - mediana (valor central) - Linha ao meio do retângulo ), 
# Q3 (quartil 3 - valor médio de 75% dos dados), 
# Linhas superior e inferior extra ao retângulo (máximo e mínimo valores dos dados)
%matplotlib notebook
matplotlib.style.use('ggplot') # Estilo diferente do padrão

dataset.boxplot(column='bedrooms')

In [ ]:
# Visualizando os estilos de layout disponível
matplotlib.style.available

In [ ]:
# Plota boxplot da coluna 'price' por número de quartos
%matplotlib notebook
dataset.boxplot(column='price', by='bedrooms') #Permite visualizar se o preço para um imóvel com um determinado nº de quartos é um outlier

In [ ]:
# Plota boxplot da coluna 'price' por número de quartos
%matplotlib inline
dataset.boxplot(column='price', by='bedrooms') #Permite visualizar se o preço para um imóvel com um determinado nº de quartos é um outlier

## Trabalhando com Correlações

In [ ]:
# Correlação de variáveis = se um valor x depende de outro valor y e se aumentar x, y também aumenta
# Se reduzir x, y diminui ou se aumentar x, y diminui ou vice e versa
# Imprime a correlação de todas as colunas do dataframe (person)
dataset.corr() #pearson

In [ ]:
# Imprime a correlação de spearman (esta leva em consideração a correção positiva e negativa)
dataset.corr('spearman')

In [ ]:
# Imprime a correção de algumas colunas mais relevantes
dataset[['bedrooms','bathrooms','sqft_living','floors','waterfront','grade','price']].corr()

In [ ]:
# Plotando a correlação de algumas colunas
%matplotlib notebook
dataset[['sqft_living','waterfront','grade','price']].corr().plot()

## Tabelas Pivot

In [ ]:
# Tabelas Pivot são úteis para fazer agrupamento nos dados.
# Conta a quantidade de imóveis agrupados pelas colunas waterfront e floors.
# O parametro index informo as colunas que serão usadas para agregação.
# o parâmetro aggfunc é usado para definir a função de agregação, que poderia ser uma média por exemplo.
# O parâmetro margins=True calcula a quantidade total no final da tabela.

# Muito interessante a performance dessa operação.
#Exemplo: 10622 imóveis tem 1 andar e não tem vista para o mar (waterfront = 0)
dataset.pivot_table('id',index=["waterfront","floors"], aggfunc='count',margins=True) # Margins = True (exibe qtd. total de linhas)

In [ ]:
# Crosstab ou tabulação Cruzada
# Essa funcionalidade cruza valores das variáveis
# Nesse exemplo podemos ver qual a distribuição dos imóveis por número de quartos com relação a sua condição
# Podemos ver que imoveis com 3 quartos estão mais na condição 5
# Condição (1 - Pior condição / 5 - Condição excelente)

pd.crosstab(dataset['bedrooms'],dataset['condition'])

In [ ]:
# Plota a tabulação Cruzada
# Usamos o método plot com um gráfico de barras

table = pd.crosstab(dataset['bedrooms'],dataset['condition'])
table.plot(kind='bar',width=1.0, color=['red','yellow','orange','blue','green'], title='Condição de quartos' ,grid=False)

# _**Trabalhando com Excel**_

* Usar o pandas para manipular planilhas do excel e até mesmo gerar novas planilhas a partir de outros dados.

In [ ]:
file = '../databases/Controle-de-Atividades-2.0.xlsx'

In [ ]:
#Lendo uma planilha do excel no Pandas.
dataframe_excel = pd.read_excel(file, sheet_name=0,header=1) #sheet_name= nome da planilha ou zero que pega a primeira

In [ ]:
dataframe_excel.head()

In [ ]:
# Lendo o arquivo e indexando pela coluna 'Estado Atual'
dataframe_excel = pd.read_excel(file, sheet_name=0, header=1, index_col=3)

In [ ]:
dataframe_excel.head()

In [ ]:
# Ordenando o dataframe pela coluna de índice. 
dataframe_excel.sort_index()

# **Gerando Planilhas a partir de Dataframes**

In [ ]:
# Gerando uma planilha com algumas colunas
colunas = ['id','price','bedrooms','bathrooms','sqft_living','floors','waterfront']
dataset[colunas].head()

In [ ]:
# Escrevendo no disco a planilha sem o valor do índice (índice numérico gerado automaticamente)
dataset[colunas].to_excel('databases/planilha_pandas.xls',index=False)